# Copy this to .env and fill in your values
NODE_ENV=production
PORT=3002
MONGODB_URI=mongodb+srv://Jerryexon1:Jerry2024@cluster0.6sqqrz.mongodb.net/sports-app?retryWrites=true&w=majority&appName=Cluster0

REDIS_URL=redis://default:YOUR_REDIS_PASSWORD_HERE@redis-19371.c253.us-central1-1.gce.cloud.redislabs.com:19371

JWT_SECRET=your_jwt_secret_here
ALLOWED_ORIGINS=https://nba-frontend.up.railway.app,http://localhost:19006
FRONTEND_URL=https://nba-frontend.up.railway.app
REVENUECAT_API_KEY= appl_CECcTriikOOrbJKnYIpjfsZsoLd
